# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\1TDSG-2020\arquivos-manipulacao\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
